<section
  class="w-screen h-screen bg-[#f6f6f6] bg-[radial-gradient(rgba(0,0,0,0.05)_2px,transparent_0)] bg-[length:30px_30px] bg-[position:-5px_-5px] dark:bg-[#1f1f1f] dark:bg-[radial-gradient(rgba(255,255,255,0.1)_2px,transparent_0)] overflow-hidden"
>
  <form
    class="scale-[.85] sm:scale-100 flex flex-col w-fit fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 h-fit py-12 px-8 items-start gap-6 rounded-3xl border border-[#cccccc] bg-[#f1f1f1] dark:border-[#3a3a3a] dark:bg-[#2c2c2c] select-none"
    (submit)="changeProfile($event)"
  >
    <div
      id="input-field"
      class="flex w-96 flex-col items-start self-stretch gap-[0.625rem] text-[#28272C] dark:text-[#e5e5e5]"
      [formGroup]="profileForm"
    >
      <div
        id="input-username"
        class="flex flex-col items-start self-stretch gap-2 relative"
      >
        <label for="full-name">Nama lengkap*</label>
        <input
          autocomplete="full-name"
          type="text"
          name="full-name"
          id="full-name"
          placeholder="Muhammad Nashih Al Wafi"
          class="flex h-11 py-3 px-4 self-stretch rounded-xl border border-[#d4d4d4] bg-[#ffffff] shadow-[0_4px_10px_0_rgba(0,0,0,0.05)] dark:border-[#555555] dark:bg-[#3a3a3a] dark:shadow-[0_4px_10px_0_rgba(0,0,0,0.3)]"
          formControlName="full_name"
        />
        <span
          class="text-red-500 translate-y-full ml-5 text-sm absolute bottom-0 right-0"
          *ngIf="
            profileForm.get('full_name')?.hasError('required') &&
            profileForm.get('full_name')?.touched
          "
          >Data ini belum terisi</span
        >
      </div>

      <div
        id="input-photo"
        class="flex flex-col items-start self-stretch gap-2 relative"
      >
        <label for="photo">Foto Profil</label>
        <input
          type="url"
          name="photo"
          id="photo"
          placeholder="https://encrypted-tbn0.gstatic.com/xxx"
          class="flex h-11 py-3 px-4 self-stretch rounded-xl border border-[#d4d4d4] bg-[#ffffff] shadow-[0_4px_10px_0_rgba(0,0,0,0.05)] dark:border-[#555555] dark:bg-[#3a3a3a] dark:shadow-[0_4px_10px_0_rgba(0,0,0,0.3)]"
          formControlName="photo"
          aria-required="false"
        />
      </div>
    </div>
    <div id="button-profile-change" class="flex gap-4 w-full">
      <article
        (click)="back()"
        class="cursor-pointer group flex relative w-full py-3 px-4 justify-center items-center rounded-xl bg-[#ECC4C5] dark:bg-[#241D6B] dark:text-[#e5e5e5] transition duration-1000 ease-out overflow-hidden"
      >
        <span
          id="masuk-yuk"
          class="z-10 group-hover:z-20 group-hover:text-[#e5e5e5] dark:group-hover:text-[#28272C] transition duration-1000 ease-out"
        >
          Kembali
        </span>
        <div
          class="z-0 w-96 aspect-square rounded-full absolute bg-[#241D6B] dark:bg-[#c4e9ec] transform transition duration-1000 ease-out translate-y-60 group-hover:translate-y-0"
          aria-hidden="true"
        ></div>
      </article>
      <button
        type="submit"
        id="submit-button"
        class="group flex relative w-full py-3 px-4 justify-center items-center rounded-xl bg-[#ECEBC4] dark:bg-[#241D6B] dark:text-[#e5e5e5] transition duration-1000 ease-out overflow-hidden"
        aria-label="Sign in"
      >
        <span
          id="masuk-yuk"
          class="z-10 group-hover:z-20 group-hover:text-[#e5e5e5] dark:group-hover:text-[#28272C] transition duration-1000 ease-out"
        >
          Ganti profile
        </span>
        <div
          class="z-0 w-96 aspect-square rounded-full absolute bg-[#241D6B] dark:bg-[#c4e9ec] transform transition duration-1000 ease-out translate-y-60 group-hover:translate-y-0"
          aria-hidden="true"
        ></div>
      </button>
    </div>
  </form>
</section>
